.pkp_structure_main {
    border: 0 !important;
    border-radius: 0 !important;
    padding-top: 1rem !important;
}

.journal-description {
    margin-bottom: 1rem;
}

.jump-to-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.obj_issue_toc {
    .row div a {
        margin-bottom: 1rem;
    }

    .row div:last-child {
        margin-bottom: 0;
    }
}

.galleys_links {
    list-style-type: none;
}

.section-container {
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    border-top: $articleTopBorderSize solid $articleTopBorderColor;
    margin-bottom: 2rem;
}

.section-header {
    margin-top: 1rem;
    padding-left: 1rem;
    color: $sectionHeaderTextColor;
}

.galley-links {
    padding-left: 1rem;

    & a {
        color: $galleyLinkColor;

        &:visited {
            color: $galleyLinkVisitedColor;
        }
    }
}