.navbar-brand-logo {
	max-height: 10rem;
}

.navbar-default {
	background-color: $navbarBgColor;
	border-bottom: $navbarBorderSize $navbarBorderStyle;
	border-color: $navbarBorderColor;
	border-radius: 0px;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px;

        .navbar-nav {
                > li > a {
                        color: $navbarLinkColor;
                }
        }
}
