// General
$primaryColor: #2130A2;
$secondaryColor: #ffffff;
$textColor: #000000;
$textOnColoredBackgroundColor: #ffffff;

// Header
$headerBorderColor: #7792a5;
$headerBorderSize: 3px;
$headerBorderStyle: solid;

// Navbar
$navbarBgColor: #ffffff;
$navbarBorderColor: #7792a5;
$navbarBorderSize: 3px;
$navbarBorderStyle: solid;
$navbarLinkColor: #000000;

// Sidebar
$sidebarBoxShadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

// Section
$sectionHeaderBorderColor: #7792a5;

// Card deck
$carddeckMinWidth576: 50.1%;
$carddeckMarginBottom576: 1rem;
$carddeckMinWidth768: 50.1%;
$carddeckMinWidth992: 50.1%;
$carddeckMinWidth1200: 33.4%;

// Card
$cardHeaderColor: #7792a5;
$cardHeaderFontColor: #ffffff;
$cardBoxShadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$cardLinkColor: #7792a5;
$cardLinkVisitedColor: #7792a5;

// Button
$buttonColor: #9ea5ad;
$buttonFontColor: #ffffff;

// Footer
$footerBgColor: #7792a5;
$footerTitleColor: #000000;
$footerTextColor: #000000;

// Article
$articleTopBorderSize: 10px;
$articleTopBorderColor: #7792a5;

// Fontawesome configuration
$fa-font-path: "fonts";